.ChatInputRoot {
  display: flex;
  flex-direction: column;
  margin: 0, 0;
}

.ChatInputTypingIndicator {
  max-height: 28px;
}

.ChatInputContent {
  gap: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.ChatInputInput {
  width: 100%;
}

.ChatInputTextarea {
  max-height: 90px;
  border-bottom: #dce9ff;
}

.ChatInputSendButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 2.2em;
  height: 2.2em;
  position: absolute;
  right: 4px;
  bottom: 3px;
  z-index: 1000;
}
